body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Glegoo', serif;
  color: #21332e;
  background: #B8D2CB;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #0C7055;
}
a:hover {
  color: #0C7055;
}

.main-nav {
  width: 100%;
  background: #B8D2CB;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #0C7055;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #0C7055;
}

header {
  text-align: center;
  background: url('img-copy/1024px-Quebec_City_Winter-780x559.jpg') no-repeat top center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 70px;
}
header {
  line-height: 10.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #FCFCFC;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.75) rotate(360deg);
}
.tag {
  background-color: #B8D2CB;
  color:#0C7055;
  border-radius: 10px;
  display: table;
  margin: 10px auto;
}
.img{
color: #0C7055;
}



  header {
    min-height: 370px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }


  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
