/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Glegoo', serif;
  color: #21332e;
  background: #B8D2CB;
  min-height: 100%;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #0C7055;
}
a:hover {
  color: #0C7055;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #B8D2CB;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #0C7055;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #0C7055;
}

header {
  text-align: center;
  background: url('img-copy/1024px-Quebec_City_Winter-780x559.jpg') no-repeat top center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 70px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #fcfcfc;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.75) rotate(360deg);
}
.tag {
  background-color: #B8D2CB;
  color:#0C7055;
  padding: 10px;
  border-radius: 10px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #FCFCFC;
  color: #0C7055;

}
.location{
  border-color: #0C7055;
}
.card {

  margin: 30px;
  padding: 20px 30px 30px;
  max-width: 500px;
  text-align: left;
  background: #FCFCFC;
  border-bottom: 4px solid #0C7055;
  border-radius: 6px;
}
.card:hover {
  transition: background 0.2s ease,
              padding 0.8s linear;
}
.card{
  border-color: #0C7055;
}
ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #B8D2CB;
  color: #0C7055;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #B8D2CB;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url("img-copy/twitter.svg");
  opacity: .60;
}
a.linkedin {
  background-image: url("img-copy/linkedin.svg");
  opacity: .60;
}
a.github {
  background-image: url("img-copy/github.svg");
  opacity: .60;
}
a.social:hover {
  opacity: 0;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 370px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
